<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>__TITLE__</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/mobile.css" />
    <script type="text/javascript" src="__STATIC__/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/mobile.js"></script>
    <script type="text/javascript">
        var wall_id = {$wall.id};
    </script>
</head>
<body>
    <header>{$wall.name|htmlspecialchars}</header>
    <div class="wrapper">
        <textarea id="content"></textarea>
        <div id="btn_send">发送</div>
    </div>
    <div id="my_messages">
        <div>我的发言(最近10条)</div>
        {volist name="list" id="message"}
        <section>
            <div>{$message.time|date='Y-m-d H:i:s',###}</div>
            <div>{$message.content|htmlspecialchars}</div>
        </section>
        {/volist}
    </div>
</body>
</html>