<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>米盒微信墙 - 大屏幕</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/screen.css" />
    <style type="text/css">
        body { background-image: url("__STATIC__/bg/{$wall.background?:'default.jpg'}") !important; }
    </style>
    <script type="text/javascript" src="__STATIC__/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/screen.js"></script>
    <script type="text/javascript">
        var wall_id = {$wall.id};
    </script>
</head>
<body>
    <div id="container">
    </div>
    <div id="newmsg_tip" class="hidden">
        （下方有新消息）
    </div>
    <div id="big_container" class="hidden">
        <div id="big_close">
            [ X ]
        </div>
        <div class="big_wrapper">
            <div id="big_msg">
            </div>
        </div>
    </div>
    <div style="height:20px;"></div>
</body>
</html>