<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>{block name="subtitle"}{/block} :: 管理控制台 :: __TITLE__</title>
    <link href="__STATIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="__STATIC__/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <script type="text/javascript" src="__STATIC__/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
</head>
<body style="font-family: 'Pingfang SC', 'Microsoft Yahei', sans-serif;">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/manage">__TITLE__</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li id="nav_wall"><a href="#">活动列表</a></li>
                <li id="nav_user"><a href="#about">用户管理</a></li>
                <li id="nav_message"><a href="#contact">消息管理</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </nav>
    <div style="margin: 0 15px;">
        {block name="main"}{/block}
        <footer class="alert alert-info" style="margin-top: 20px;">
            <strong>Powered by AQWeChatWall-NG. &copy; 2016 DeepAQ</strong>
        </footer>
    </div>
    <script type="text/javascript">
        $('#nav_{block name="page_id"}{/block}').addClass('active');
    </script>
</body>
</html>