{extend name="manage/base" /}
{block name="page_id"}login{/block}
{block name="subtitle"}登录{/block}
{block name="main"}
<div class="container-fluid">
{$login_failed ? '<section class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Login failed:</strong> Please check your password.
</section>' : ''}
    <section class="panel panel-primary">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;登录到管理控制台
        </div>
        <div class="panel-body">
            <form method="post" class="form-inline">
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" class="form-control input-sm" required>
                </div>
                <button type="submit" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Login</button>
            </form>
        </div>
    </section>
</div>
{/block}